/* RegisterForm.css */
.register-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: linear-gradient(135deg, #f0f2f5 40%, #ffffff 100%);
  padding: 20px;
  
}

.res-card {
.res-card {
  background-color: #ffffff;
}

.res-input,
.ant-input-affix-wrapper { 
  height: 45px;
  border-radius: 5px;
}

.form-item {
.form-item {
  margin-bottom: 10px;
}

.res-btn {
.res-btn {
  background-color: #1890ff;
  border: none;
  height: 45px;
  border-radius: 5px;
  font-size: 16px;
}

.res-btn:hover {
.res-btn:hover {
  background-color: #40a9ff;
}

// .ant-card-bordered {
//   border: none;
// }
// .ant-card-bordered {
//   border: none;
// }

.register-form-title {
.register-form-title {
  font-size: 24px;
  text-align: center;
}

a {
  color: #1890ff;
}

a:hover {
  color: #40a9ff;
}